@page "/categories"
@using static MudBlazor.CategoryTypes

<section>
    @if (!IsLoading && !Subcategories.Any())
    {
        <p>No categories</p>
    }
    else
    {
        <MudText Typo="Typo.h2" Class="my-8">Categories and subcategories</MudText>

        <MudTable
            Items="@Subcategories"
            Hover="true" 
            Dense="false"
            Striped="true"
            Breakpoint="Breakpoint.Sm" 
            Loading="@IsLoading"
            LoadingProgressColor="Color.Info"
            GroupBy="@_groupDefinition">
            
            <ColGroup>
                <col style="width: 60px;" />
                <col />
                <col />
            </ColGroup>
            
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Name</MudTh>
            </HeaderContent>

            <GroupHeaderTemplate>
                <MudTh Style="font-weight: 500" colspan="2">@($"{context.GroupName}: {GetGroupName(context.Key)}")</MudTh>
            </GroupHeaderTemplate>

            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">@context.Description</MudTd>
            </RowTemplate>
        </MudTable>
    }
</section>