@page "/categories"

@if (!IsLoading && !Categories.Any())
{
    <p>No categories</p>
}
else
{
    <MudGrid Justify="Justify.Center" Spacing="5">
        <MudItem xs="12" Class="d-flex justify-center">
            <MudText Typo="Typo.h2" Class="my-8">Categories and subcategories</MudText>
        </MudItem>

        @if (IsLoading)
        {
            <MudItem xs="12" Class="d-flex align-center justify-center">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
            </MudItem>
        }

        <MudItem xs="8">
            <MudTable
                Items="@Subcategories"
                GroupBy="@_groupDefinition"
                Hover="true"
                GroupHeaderStyle="@($"background-color:{Colors.Grey.Lighten5}")">
                <GroupHeaderTemplate>
                    <MudTh Class="mud-table-cell-custom-group">
                        <MudText Typo="Typo.h6" @onclick="() => NavigateToCategoryDetail(context.Key)">@GetGroupName(context.Key)</MudText>
                    </MudTh>
                </GroupHeaderTemplate>
                <RowTemplate>
                    <MudTd @onclick="() => NavigateToSubcategoryDetail(context.Id)">@context.Description</MudTd>
                </RowTemplate>
            </MudTable>

        </MudItem>

    </MudGrid>
}