@page "/categories"
@using static MudBlazor.CategoryTypes

<section>
    @if (!IsLoading && !Categories.Any())
    {
        <p>No categories</p>
    }
    else
    {
        <MudGrid Justify="Justify.Center" Spacing="5">
            <MudItem xs="12">
                <MudText Typo="Typo.h2" Class="my-8">Categories and subcategories</MudText>
            </MudItem>

            @if (IsLoading)
            {
                <MudItem xs="12" Class="d-flex align-center justify-center">
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                </MudItem>
            }

            <MudItem xs="12">
                <MudExpansionPanels MultiExpansion="true">
                    @foreach (var category in Categories)
                    {
                        <MudExpansionPanel Text="@category.Description">
                            @if (@category.Subcategories != null && @category.Subcategories.Any())
                            {
                                <MudList Dense="true">
                                    @foreach (var subcategory in @category.Subcategories)
                                    {
                                        <MudListItem Text="@subcategory.Description" />
                                    }
                                </MudList>
                            }
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudItem>

        </MudGrid>

    }
</section>