@page "/transactions"
@using SpendingTracker.Shared.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (!TransactionsState.Value.IsLoading &&
     TransactionsState.Value.Transactions != null &&
     !TransactionsState.Value.Transactions.Any())
{
    <p>No transactions</p>
}
else
{
    <MudGrid Justify="Justify.Center" Spacing="5">
        <MudItem xs="12" sm="10" lg="11">
            <MudText Typo="Typo.h2" Class="my-8">Transaction list</MudText>
        </MudItem>
        <MudItem xs="12" sm="2" lg="1" Class="d-flex align-center justify-center">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Large" Href="/transactions/add"/>
        </MudItem>
        <MudItem xs="12">
            <MudTable Items="@TransactionsState.Value.Transactions"
                      Hover="true"
                      Dense="true"
                      Striped="true"
                      Breakpoint="Breakpoint.Sm"
                      Loading="@TransactionsState.Value.IsLoading"
                      LoadingProgressColor="Color.Info"
                      OnRowClick="@TransactionClicked"
                      T="Transaction">
                <HeaderContent>
                    <MudTh>Date</MudTh>
                    <MudTh>Description</MudTh>
                    <MudTh>Amount</MudTh>
                    <MudTh>Categories</MudTh>
                    <MudTh>Subcategories</MudTh>
                    <MudTh>Outward payment</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Date">@context.DateOfTransaction.ToString("D")</MudTd>
                    <MudTd DataLabel="Description">@context.Description</MudTd>
                    <MudTd DataLabel="Amount">£@context.Amount</MudTd>
                    <MudTd DataLabel="Categories">
                        @if (@context.Category != null)
                        {
                            <MudList Dense="true" DisableGutters="true" DisablePadding="true">
                                <p>@context.Category.Description</p>
                            </MudList>
                        }
                        else
                        {
                            <p>-</p>
                        }

                    </MudTd>

                    <MudTd DataLabel="Subcategories">
                        @if (@context.Subcategories != null && @context.Subcategories.Any())
                        {
                            <MudList Dense="true" DisableGutters="true" DisablePadding="true">
                                @foreach (var subcategory in context.Subcategories)
                                {
                                    <MudListItem Text="@subcategory.Description"/>
                                }
                            </MudList>
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </MudTd>
                    <MudTd DataLabel="Is outward payment">
                        @if (context.IsOutwardPayment)
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Check" Title="Check" Color="Color.Success"/>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Close" Title="Close" Color="Color.Error"/>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudItem>
    </MudGrid>
}