@page "/budgets"
@using SpendingTracker.Shared.Models

@if (!IsLoading && !Budgets.Any())
{
    <p>No transactions</p>
}
else
{
    <MudGrid Justify="Justify.Center" Spacing="5">
        <MudItem xs="12" sm="10" lg="11">
            <MudText Typo="Typo.h2" Class="my-8">Budgets</MudText>
        </MudItem>
        <MudItem xs="12" sm="2" lg="1" Class="d-flex align-center justify-center">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Large" Href="/budgets/add"/>
        </MudItem>
        <MudItem xs="12">
            <MudTable Items="@Budgets"
                      Hover="true"
                      Striped="true"
                      Breakpoint="Breakpoint.Sm"
                      Loading="@IsLoading"
                      LoadingProgressColor="Color.Info"
                      OnRowClick="@BudgetClicked"
                      T="Budget">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Amount</MudTh>
                    <MudTh>Frequency</MudTh>
                    <MudTh>Categories</MudTh>
                    <MudTh>Subcategories</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Id">@context.Id</MudTd>
                    <MudTd DataLabel="Amount">@context.Amount</MudTd>
                    <MudTd DataLabel="Frequency">@context.Frequency</MudTd>

                    <MudTd DataLabel="Categories">
                        @if (@context.Categories != null && @context.Categories.Any())
                        {
                            <MudList Dense="true" DisableGutters="true" DisablePadding="true">
                                @foreach (var category in context.Categories)
                                {
                                    <MudListItem Text="@category.Description"/>
                                }
                            </MudList>
                        }
                        else
                        {
                            <p>-</p>
                        }

                    </MudTd>

                    <MudTd DataLabel="Subcategories">
                        @if (@context.Subcategories != null && @context.Subcategories.Any())
                        {
                            <MudList Dense="true" DisableGutters="true" DisablePadding="true">
                                @foreach (var subcategory in context.Subcategories)
                                {
                                    <MudListItem Text="@subcategory.Description"/>
                                }
                            </MudList>
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudItem>
    </MudGrid>
}